{% load static %}
<!-- Prism CSS -->
<!-- <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet"> -->

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link rel="stylesheet" href="{% static 'tutorial_style.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  {% include "main/includes/navbar.html" %}

  {% include "main/includes/messages.html" %}

    <!-- We have written the html code here which will be common for all the pages -->
    <!-- The unique pages will have different code that will be included in between block content and endblock  -->
    <!-- We have to extend the header.html file in other files to use them -->

    <div class="container">
      <br>
      {% block content %}
      {% endblock %}
    </div>

<!-- Prism JS -->
<!-- <script src="{% static 'tinymce/js/prism.js' %}"></script> -->
<script>M.AutoInit();</script>
</body>